@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap');
//seclector universal
.*{
    margin: 0;
    padding: 0;
}
/*selector de etiqueta*/
.a{
    margin-left: 50px;
    color: rgb(217, 226, 43);
}
/*selector por id*/

#option_two, #option_three{
    color: brown;
}
/*selector por clase*/
.group_option{
    background-color: aqua;
    margin: 5px;
}
.group_class{
    padding: 10px;
}
/*selector por pseudoclase*/
.group_option:hover{
    background-color: yellowgreen;
    color: black;
}

/*selector por atributo*/
[disabled]{
    background-color: rgb(80, 255, 191);
}
/*selectores por descendentes*/
#papá{
    border: 2px double red;
    border_radius: 10px;
    margin_rigth: 100px;
    margin_left: 100px;
    padding: 10px;
    box-shadow: 0px 20px 10px;
}
#papá .hermanos + .hermanos{
    color: aqua;
 
}
/*selector descendente*/
#papa a{
    color: antiquewhite;
}
/*selector hijo*/
#papa > etiqueta > a{
    color: antiquewhite;
}
/*clase 19 de septiembre*/
/*titulo para box modeñ*/
#title_box{
    color: aquamarine;
    font-family: Arial, Helvetica, sans-serif;
    background-color: violet;
    tex-aling:center;
    margin: 20px 0;
    border: 1px dottted red;
    border-radius:10px;
    pading-button: 30px;
    box-shawdow: 0px 0px 10px 1px green;
    box-shawdow: 9px 13px 33px -12px rgba(15,14,15,0.89);
    box-shadow: 9px 13px 33px -12px rgba(15,14,15,0.89);
font-size: 40px;
letter spacing:10px;
word-spacing: 20px;
text-transform: 30px;
}

#box_father{
    width: 200px;
    background-color: rgb(89, 241, 135);
    height: 200px;
    background-image: url(https://files.antena2.com/antena2/public/2023-06/NuevoescudodelaSeleccionColombia.jpg?VersionId=WIvJJisxDfdkz1x5NLqwi9jCfJKvsZiy);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

 /*#box_model{
    width: 50%;
    height: 50%;
    background-color: rgb(131, 120, 180);
    margin:0 auto;*/
/*media query*/
@media (min-width: 800px) and (max-width:1200px) {
    
    body{
        background-color: red;
    }
    h1{
        text-aling: center;
    }
}
@media (max-width: 700px){
      body {
        background-image: url(https://files.antena2.com/antena2/public/2023-06/NuevoescudodelaSeleccionColombia.jpg?VersionId=WIvJJisxDfdkz1x5NLqwi9jCfJKvsZiy);
        background-size: cover;
        background-position:center;
        background-repeat: no-repeat;
      }
}